Django==6.1
django-jazzmin==3.0.5
psycopg[binary]==3.3.5
python-dotenv==1.2.3
openpyxl==3.1.5
requests==2.34.2
playwright==1.62.0
pillow==12.3.0
celery==5.6.3
redis==8.1.0
gunicorn==23.0.0
whitenoise==6.12.0